{
    "emptyTable":     "@JavaScriptEncoder.Default.Encode("No data available in table")",
    "info":           "@JavaScriptEncoder.Default.Encode("_START_-_END_ of _TOTAL_ items")",
    "infoEmpty":      "@JavaScriptEncoder.Default.Encode("No records")",
    "infoFiltered":   "@JavaScriptEncoder.Default.Encode("(filtered from _MAX_ total entries)")",
    "thousands":      "@JavaScriptEncoder.Default.Encode(",")",
    "lengthMenu":     "@JavaScriptEncoder.Default.Encode("Show _MENU_ items")",
    "loadingRecords": "@JavaScriptEncoder.Default.Encode("Loading...")",
    "processing":     "@JavaScriptEncoder.Default.Encode("<div class='se-pre-con'></div>")",
    "search":         "@JavaScriptEncoder.Default.Encode("Search:")",
    "zeroRecords":    "@JavaScriptEncoder.Default.Encode("No matching records found")",
    "paginate": {
            "first":"<span class='pagination-default'></span><span title='Previous' class='pagination-fa'><i class='fa fa-chevrons-left'></i></span>",
            "last":"<span class='pagination-default'></span><span title='Last' class='pagination-fa'><i class='fa fa-chevrons-right'></i></span>",
            "next":"<span class='pagination-default'></span><span title='Next' class='pagination-fa'><i class='fa fa-chevron-right' ></i></span>",
            "previous":"<span class='pagination-default'></span><span title='Previous' class='pagination-fa'><i class='fa fa-chevron-left'></i></span>"
    },
    "aria": {
        "sortAscending":  "@JavaScriptEncoder.Default.Encode(": activate to sort column ascending")",
        "sortDescending": "@JavaScriptEncoder.Default.Encode(": activate to sort column descending")"
    }
}